.nav-bar{
    border-bottom: rgba(128,128,136,255) 2px solid;
    border-top: rgba(254,255,254,255) 2px solid;
    border-left: rgba(254,255,254,255) 2px solid;
}

.icon{
   width: 68px;
   height: 58px;
   min-width: 68px;
}

.icon:hover{
    filter:none;
    border-top: 1.5px rgba(236,236,237,255) solid;
    border-left: 1.5px rgba(236,236,237,255) solid;
    border-bottom: 1.5px rgba(65,64,65,255) solid;
    border-right: 1.5px rgba(65,64,65,255) solid;
}

.icon-img{
    flex-grow: 1;
    width: 100%;
    height: 30px;
    margin: 1px auto;
}

.icon img {
    max-width: 40px;
    max-height: 40px;
    display: block;
    filter: grayscale(1);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}


.icon:hover img{
    filter: none;
}



.icon-text{
    display: block;
    font-size: 18px;
    margin-top: 0 auto;
    padding:0;
    color: black;
}