.frame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    padding: 2% 3% 30px;
    margin: 0;
    
}

.window {
    /* z-index: 129;
    position: relative;
    left: 36px;
    top: 18.188px; */
    height: 100%;
    border-top: 1px rgba(239,239,239,255) solid;
    border-left: 1px rgba(239,239,239,255) solid;
    border-bottom: 1px rgba(1,1,0,255) solid;
    border-right: 1px rgba(1,1,0,255) solid;
    background: rgb(200,196,196);

    border-left-color: gray;
    border-top-color: gray;
    box-shadow: inset -1px 0 gray, inset -1px 1px #fff, inset -1px -1px gray, inset 0 0 0 1px #fff;;
}



.header {
    
    background: linear-gradient(to right,#000080,#1084d0);
    margin: 1px;
    padding: 2px;
    color: #fff;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    background-color: rgba(2,1,126,255);
    
}

.header-buttons {
    position: absolute;
    right: 3px;
    top: 2px;
    height: 20px;
    line-height: 0;
}

.header-buttons > button {
    margin: 0;
    background-color: silver;
    padding: 2px;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    box-shadow: inset -1px 0 gray, inset -1px 1px #dfdfdf, inset -1px -1px gray, inset 0 0 0 1px #dfdfdf;
    border-left-color: #fff;
    border-top-color: #fff;
}

.header-buttons > button:active {
    
    border: 1px solid black;

    /* box-shadow: inset 0 0 0 1px gray; */

    box-shadow: inset -1px 0 #dfdfdf, inset -1px 1px gray, inset -1px -1px #dfdfdf, inset 0 0 0 1px gray;
    border-right-color: #fff;
    border-bottom-color: #fff;
}


.address-wrapper{
    border-bottom: rgba(187,195,196,255) 2px solid;
    border-right: rgba(187,195,196,255) 2px solid;
    border-top: rgba(128,128,136,255) 2px solid;
    border-left: rgba(128,128,136,255) 2px solid;
    margin-top: 2px;
    margin-bottom: 2px;
}

.address-bar{
    border-top: rgba(12,13,13,255) 2px solid;
    border-left: rgba(12,13,13,255) 2px solid;
    border-bottom: rgba(187,195,196,255) 2px solid;
    border-right: rgba(187,195,196,255) 2px solid;
    background-color: rgba(254,255,254,255);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 2px;
    min-width: 150px;
}

.address-text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}

.top-section {
    border: rgba(128,128,128,255) 1px solid;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-shadow: inset -1px 0 gray, inset -1px 1px black, inset -1px -1px gray, inset 0 0 0 1px black;
    margin: 1px;
    padding: 2px;
}

.browser-body{
    padding: 3px;
    background-color: rgba(192,193,193,255);
}

.close-btn {
    background-color: rgb(200,196,196);
    border-top: 3px rgba(236,236,237,255) solid;
    border-left: 3px rgba(236,236,237,255) solid;
    border-bottom: 3px rgba(65,64,65,255) solid;
    border-right: 3px rgba(65,64,65,255) solid;
    cursor: pointer;
}

.inner {
    position: relative;
    height: 99%;
    padding: 3px;
    
}

.content{
    position: relative;
    margin: 1px;
    padding: 2px;
    height: 100%;
    border: rgba(128,128,128,255) 1px solid;
    border-right-color: #fff;
    border-bottom: solid 1px gray;
    box-shadow: inset -1px 0 gray, inset -1px 1px black, inset -1px -1px gray, inset 0 0 0 1px black;
    background: white;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.profile-col{
    padding: 15px;
}

.profile-card{
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 25%);
    border: black 1px solid;
    width: 100%;
    /* border-radius: 2px; */
    padding: 3px;
}

.profile-card img {
    display: block;
    width: 100%;
    
}

@media (max-width: 576px) { 
    .profile-col{
        padding: 0;
        border: red 2px solid;
        width: 25%;
    }

    .content-col {
        border: red 2px solid;
        width: 75%;
    }
 }
