.address-section{
    border-top: rgba(254,255,254,255) 2px solid;
    border-left: rgba(254,255,254,255) 2px solid;
}

.address-bar{
    border-top: rgba(12,13,13,255) 2px solid;
    border-left: rgba(12,13,13,255) 2px solid;
    /* border-bottom: rgba(187,195,196,255) 2px solid;
    border-right: rgba(187,195,196,255) 2px solid; */
    background-color: rgba(254,255,254,255);
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    min-width: 150px;
    
}


.address-wrapper{
    border-bottom: rgba(187,195,196,255) 2px solid;
    border-right: rgba(187,195,196,255) 2px solid;
    border-top: rgba(128,128,136,255) 2px solid;
    border-left: rgba(128,128,136,255) 2px solid;
    margin-top: 2px;
    margin-bottom: 2px;
}

.address-text{
    font-size: 18px;
    color: black;
    
}