.frame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    padding: 2% 3% 30px;
    margin: 0;
    
}

.window {
    z-index: 129;
    position: relative;
    left: -36px;
    top: -18.188px;
    width: 450px;
    border-top: 1px rgba(239,239,239,255) solid;
    border-left: 1px rgba(239,239,239,255) solid;
    border-bottom: 1px rgba(1,1,0,255) solid;
    border-right: 1px rgba(1,1,0,255) solid;
    background: rgb(192, 192, 192);

    border-left-color: gray;
    border-top-color: gray;
    box-shadow: inset -1px 0 gray, inset -1px 1px #fff, inset -1px -1px gray, inset 0 0 0 1px #fff;;
}

.inner {
    position: relative;
    padding: 3px;
}

.header {
    
    background: linear-gradient(to right,#000080,#1084d0);
    color: #fff;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    background-color: rgba(2,1,126,255);
    
}

.top-section {
    border: rgba(128,128,136,255) 2px solid;
}

.browser-body{
    padding: 3px;
    background-color: rgba(192,193,193,255);
}

.close-btn {
    background-color: rgba(192,193,193,255);
    border-top: 3px rgba(236,236,237,255) solid;
    border-left: 3px rgba(236,236,237,255) solid;
    border-bottom: 3px rgba(65,64,65,255) solid;
    border-right: 3px rgba(65,64,65,255) solid;
    cursor: pointer;
}

.content{
    margin: 0;
    
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}

.profile-col{
    padding: 15px;
}

.profile-card{
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 25%);
    border: black 1px solid;
    width: 100%;
    /* border-radius: 2px; */
    padding: 3px;
}

.profile-card img {
    display: block;
    width: 100%;
    
}

@media (max-width: 576px) { 
    .profile-col{
        padding: 0;
        border: red 2px solid;
        width: 25%;
    }

    .content-col {
        border: red 2px solid;
        width: 75%;
    }
 }
