@font-face {
  font-family: "win98";
  src: local("win98"),
    url("./fonts/win98.ttf") format("truetype");
  font-weight: normal;
}
*{
  cursor: url('./imgs/curson.png'), auto;
  overflow-x: hidden;
}

.body {
  margin:0;
  padding:0;
  height: 100vh;
  width: 100vw;
  font-family: 'win98';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.taskbar {
    background-color: rgba(192,192,192,255);
    border-top: 2px solid white;
    width: 100%;
    height: 4vh;
}

.desktop {
    width: 100%;
    height: 96vh;
    background-image: url('./imgs/bliss.jpg');
    background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
